*
{
    margin: 0;
    padding: 0;
    cursor: default;
    user-select: none;
    box-sizing: border-box;
}

@import "./styles/Fonts.scss";
@import "./styles/views/FrameView.scss";
@import "./styles/views/EntityView.scss";

html
{
    color: #EEE;
    font-family: goldfish;
    background-color: #111;
}
